#platform.io
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

# visual studio code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets